

<h1>All items</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>By user</th>
      <th>Type</th>
      <th>Name</th>
      <th>Information</th>
      <th>Price</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
	<td><%= User.find(item.user_id).username %></td>
        <td><%= item.style %></td>
        <td><%= link_to item.name, item %></td>
        <td><%= item.information %></td>
        <td><%= number_to_currency(item.price, unit: '€', precision: 2, format: "%u %n") %></td>
	<% if not (current_user==nil) %>
	<% if (item.user_id == current_user.id) %>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
