<h2><%= @item.name %></h2>

<br>

<p>
  <strong>Type:</strong>
  <%= @item.style %>
</p>

<p>
  <strong>Information:</strong>
  <%= @item.information %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price, unit: '€', precision: 2, format: "%u %n") %>
</p>

<br>

<h4>Comments</h4>

<table class="table table-hover" style="table-layout:fixed;">
  <thead>
    <tr>
      <th>By user</th>
      <th width="300">Title</th>
      <th width="600">Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
	<% if (comment.item_id == @item.id) %>
      <tr>
	<td><%= User.find(comment.user_id).username %></td>
        <td style="word-wrap:break-word;overflow-wrap:break-word;">
<div style="word-wrap:break-word;"><%= comment.title %></div></td>
        <td style="word-wrap:break-word;overflow-wrap:break-word;">
<div style="word-wrap:break-word;"><%= comment.text %></div></td>
	<% if not (current_user==nil) %>
	<% if (comment.user_id == current_user.id) %>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data:
 { confirm: 'Are you sure?' } %></td>
	<% end %>
	<% end %>
      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'New comment', new_comment_path(:item_id => @item.id) %> |
<%= link_to 'Back', items_path %>
