<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @item.style %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Information:</strong>
  <%= @item.information %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@item.price, unit: '€', precision: 2, format: "%u %n") %>
</p>

<h2>Kommentit</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Otsikko</th>
      <th>Kommentti</th>
      <th>Esine</th>
      <th>Käyttäjä</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
	<% if (comment.item_id == @item.id) %>
      <tr>
        <td><%= comment.title %></td>
        <td><%= comment.text %></td>
        <td><%= comment.item.name %></td>
        <td><%= User.find(comment.user_id).username %></td>
        <td><%= link_to 'Show', comment %></td>
	<% if not (current_user==nil) %>
	<% if (comment.user_id == current_user.id) %>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data:
 { confirm: 'Are you sure?' } %></td>
	<% end %>
	<% end %>
      </tr>
	<% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
